#login-view {
  display: flex;
  height: 100vh;

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 2rem;
      height: 100%;
      width: 100%;
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        max-width: 360px;
        width: 100%;
        & > div {
          width: 100%;
        }
      }
    }
    .footer {
      padding: 2rem;
      align-self: stretch;
      p {
        @include text-sm-normal;
        color: $gray-600;
      }
    }
  }
  .image-section {
    display: flex;
    // background: url("../../icons/bg.png") no-repeat center center;
    background: url("/bg.png") no-repeat center center;
    background-size: cover;
    flex: 1;
  }

  .welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    svg {
      width: 3rem;
      height: 3rem;
      display: block;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      text-align: center;
      h2 {
        @include display-sm-semibold;
        color: $gray-900;
      }
      p {
        @include text-md-normal;
        color: $gray-500;
      }
    }
  }
  .sign-up {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.25rem;
    p {
      @include text-sm-normal;
      color: $gray-500;
    }
    a {
      @include text-sm-semibold;
      color: $primary-700;
    }
  }
  .actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
