$gradient-gray-600-500-90-deg: linear-gradient(
  to bottom,
  #47546747 0%,
  #66708566 100%
);
$gradient-gray-700-600-45-deg: linear-gradient(
  to bottom,
  #34405434 0%,
  #47546747 100%
);
$gradient-gray-800-600-45-deg: linear-gradient(
  to bottom,
  #1d29391d 0%,
  #47546747 100%
);
$gradient-gray-800-600-90-deg: linear-gradient(
  to bottom,
  #1d29391d 0%,
  #47546747 100%
);
$gradient-gray-800-700-26-5-deg: linear-gradient(
  to bottom,
  #1d29391d 0%,
  #34405434 100%
);
$gradient-gray-900-600-45-deg: linear-gradient(
  to bottom,
  #10182810 0%,
  #47546747 100%
);
$gradient-primary-600-500-90-deg: linear-gradient(
  to bottom,
  #7f56d97f 0%,
  #9e77ed9e 100%
);
$gradient-primary-700-600-45-deg: linear-gradient(
  to bottom,
  #6941c669 0%,
  #7f56d97f 100%
);
$gradient-primary-800-600-45-deg: linear-gradient(
  to bottom,
  #53389e53 0%,
  #7f56d97f 100%
);
$gradient-primary-800-600-90-deg: linear-gradient(
  to bottom,
  #53389e53 0%,
  #7f56d97f 100%
);
$gradient-primary-800-700-26-5-deg: linear-gradient(
  to bottom,
  #53389e53 0%,
  #6941c669 100%
);
$gradient-primary-900-600-45-deg: linear-gradient(
  to bottom,
  #42307d42 0%,
  #7f56d97f 100%
);
